<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>docset_icon.png</string>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>Docset File Type Handler</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.kapeli.dash.ios.docset</string>
				<string>com.apple.xcode.docset</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.8.13</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.kapeli.dash</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>dash-plugin</string>
				<string>dash</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>410</string>
	<key>CSSCommit</key>
	<string>not set</string>
	<key>DHDBResultCommit</key>
	<string>not set</string>
	<key>DHDBSearcherCommit</key>
	<string>not set</string>
	<key>DHDBUnifiedOperationCommit</key>
	<string>not set</string>
	<key>DHDBUnifiedResultCommit</key>
	<string>not set</string>
	<key>DHDocsetDownloaderCommit</key>
	<string>not set</string>
	<key>DHQueuedDBCommit</key>
	<string>not set</string>
	<key>DHTypesCommit</key>
	<string>not set</string>
	<key>DHUnifiedQueuedDBCommit</key>
	<string>not set</string>
	<key>DHWebPreferencesCommit</key>
	<string>not set</string>
	<key>DHWebViewControllerCommit</key>
	<string>not set</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>PlatformIconsCommit</key>
	<string>not set</string>
	<key>TypesCommit</key>
	<string>not set</string>
	<key>UIAppFonts</key>
	<array>
		<string>SourceCodePro-Regular.ttf</string>
		<string>SourceCodePro-Black.ttf</string>
		<string>SourceCodePro-Bold.ttf</string>
		<string>SourceCodePro-ExtraLight.ttf</string>
		<string>SourceCodePro-Semibold.ttf</string>
		<string>SourceCodePro-Light.ttf</string>
		<string>ionicons.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>Launch</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIMainStoryboardFile~ipad</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresPersistentWiFi</key>
	<true/>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Docset File Type Handler</string>
			<key>UTTypeIdentifier</key>
			<string>com.kapeli.dash.ios.docset</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>docset</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Docset File Type Handler</string>
			<key>UTTypeIdentifier</key>
			<string>com.kapeli.dash.ios.docset</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>docset</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
